<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eleve x ao quadrado</title>
</head>

<body>
  <div style="margin:auto;width: 50%;">
  <h1 style="text-align: center;">Eleve x ao quadrado</h1>
  <h1 style="text-align: center; font-size: 80px; margin: 30px;">X²</h1>
      
  <div style="border-style: solid; border-width: thin; padding: 10px;">
    <h2>Calcular</h2>

    <form method="POST">
      <label for="number">Valor de x é:</label>
      <input type="number" name="number" id="number" required>
      <input type="submit" value="Elevar">
    </form>

    <% if ( result != undefined ) { %>
      <h2> O resultado é: </h2>
      <h4><%= result %></h4>
    <% } %>
  </div>

  </div>
</body>

</html>